#main{
    border : 2px solid black;
    width: 300px;
    height: 600px;
    margin-left: 120px;
    margin-top: 10px; 
}
#ndiv{
    margin-top: 10px;
}

#btn{
    width: 35px;
    border-radius: 6px;
    height: 30px;
    text-align: center;
}
#f1{
    font-size : 12px;
    width:90px;
    line-height: 0;
    margin-bottom: 5px;
}
#btn1{
    font-size: 35px;
}
#bt1{
   line-height: 1.1; 
   margin-top: 5px;    
}
#questions{
    text-align: center;
    word-spacing: 10px;
    overflow:scroll;
    width: 290px;
    height: 200px;
}
#q1{
    font-size: 14px;
    margin-left: 15px;
    margin-top: 5px;

}

#sideblog{
    text-align: right;
    
}
#person{
    width: 90px;
    height: 90px;
    margin-left:120px;
    margin-top: 5px;
}

